.form-control {
	font-size: 12px;
	height: 33px;
	border-radius: 4px;
	margin-bottom: 10px;
}

.button {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.table> thead> tr {
	background: #4390b9;
	color: #fff;
}

.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
	border-bottom-width: 1px;
}

.table>thead>tr>td:hover {
	background: #4390b9;
}

.table>tbody>tr>td:hover,
.table>tfoot>tr>td:hover,
.dlshouwen-grid-extra-columns>td>p:hover {
	background: #ddd;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
	line-height: 1.42857143;
}

.btn-blue {
	color: #fff;
	background-color: #4390b9;
	border-color: #6ab2d6;
	padding: 6px 32px;
}
.ol-line>li{padding:5px 0px;}
.col-xq-11 {
	width: 11.11111111%;
}

.bg-gray {
	background: #f8f8f8;
}

.bg-blue {
	background: #f8f8f8;
}

.cur-pointer {
	cursor: pointer!important;
}

.font-blod {
	font-weight: bold;
}

.font-space {
	letter-spacing: 2px;
}

.font-eighteen {
	font-size: 18px;
}

.font-sixteen {
	font-size: 16px;
}

.font-twenty-eight {
	font-size: 28px;
}

.font-yellow {
	color: #ffb752;
}

.font-blue {
	color: #6eb5e0;
}

.font-red {
	color: #d15c46;
}

.font-green {
	color: #88b87f;
}

.font-young {
	color: #7dd5da;
}

.font-purple {
	color: #7780bc;
}

.page-content {
	font-size: 14px;
}

.mar-top-ten {
	margin-top: 10px;
}

.mar-top-fifteen {
	margin-top: 15px;
}

.mar-top-twenty {
	margin-top: 20px;
}

.mar-right-fifteen {
	margin-right: 15px;
}

.mar-bottom-ten {
	margin-bottom: 10px;
}

.mar-bottom-twenty {
	margin-bottom: 20px;
}

.mar-bottom-thirty {
	margin-bottom: 30px;
}
.remarks span{display: -webkit-box;text-indent: 30px;}
.triangle {
	width: 0;
	height: 0;
	border-bottom: 40px solid;
	border-left: 40px solid transparent;
	position: absolute;
	top: 45px;
	right: 13px;
}

.title {
	font-size: 16px;
	color: #2b7dbc;
	border-bottom: 1px solid #dbe8f1;
	padding: 10px 0px;
}

.search-box {
	background: #f8f8f8;
	padding: 15px 20px 5px;
	border-radius: 4px;
	margin: 10px 0px 20px;
}

.border-gray {
	border: 1px solid #ddd;
	border-radius: 4px;
}

.img-user {
	width: 64px;
	margin: 30px auto 20px
}

.img-pen {
	width: 64px;
	float: right;
}

.box-count {
	height: 200px;
}

.box-count span {
	font-size: 18px;
}

.loan-count {
	height: 86px;
	padding: 15px;
}

.loan-count>div:nth-child(odd) {
	font-size: 14px;
}

.loan-count>div:nth-child(even) {
	font-size: 18px;
}

.registUser,
.byUser,
.loanUsers,
.creditUser {
	line-height: 2;
}

.registUser span,
.byUser span,
.loanUsers span,
.creditUser span {
	font-size: 18px;
}

.loan-amount {
	background: #7dd5da;
}

.credit-note {
	background: #7780bc;
}

.loan-amount,
.credit-note {
	color: #fff;
	padding: 25px 30px;
}

.pen-title {
	font-size: 16px;
}

.pen-total {
	font-size: 22px;
}

.chart-box {
	height: 418px;
	padding: 30px;
	border-radius: 4px;
	background: #f8f8f8;
}

.chart-box>div {
	height: 100%;
}

.box-count-two {
	padding: 30px 10px 30px 20px;
	height: 178px;
}

.box-count-two img {
	width: 98px;
	float: left;
	margin-right: 25px;
}

.box-count-three {
	padding: 10px 15px 10px 15px;
	height: 104px;
}

.box-count-three img {
	width: 64px;
	float: left;
	margin-right: 25px;
}

.border-blue {
	color: #6eb5e0;
	border-color: #70b4e0;
}

.border-yellow {
	color: #ffb752;
	border-color: #feb853;
}

.ipt-data {
	position: relative;
}

.ipt-data input {
	border-radius: 4px!important;
	padding: 2px 10px;
}

.ipt-data img {
	position: absolute;
	top: 4px;
	right: 16px;
}

.dateImg {
	background: url(../../images/rili.png) no-repeat;
	background-position: right;
	background-origin: content-box;
}

.widget {
	margin-top: 0;
	margin-bottom: 25px;
	padding: 0;
}

.widget .widget-header {
	color: #333;
	background: #f9f9f9;
	border-bottom-color: #d9d9d9;
	line-height: 35px;
	padding: 0 12px;
	margin-bottom: 0;
}

.widget .widget-content {
	padding: 20px;
	position: relative;
	background-color: #fff;
	min-height: 285px;
}

.widget .widget-header h4 {
	display: inline-block;
	color: #555;
	font-size: 14px;
	font-weight: bold;
	padding: 0;
	margin-bottom: 0;
}

.widget .intProduct {
	height: 285px;
	overflow-y: auto;
}

.widget .widget-header:before,
.widget .widget-header:after {
	display: table;
	content: "";
	line-height: 0;
}

.box {
	display: block;
	padding: 0px 12px;
}

.search-box:after,
.search-box:before,
.box:after,
.box:before {
	content: " ";
	display: table;
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.search-box:after,
.widget .widget-header:after,
.box:after {
	clear: both;
}


/* 加载css */

.loader {
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	outline: 0;
}

.loader-fade {
	opacity: 0;
	-webkit-transition: opacity .15s linear;
	-o-transition: opacity .15s linear;
	transition: opacity .15s linear;
}

.loader-fade.in {
	opacity: 1;
}

.loader-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	background-color: #000;
}

.loader-backdrop.loader-fade {
	filter: alpha(opacity=50);
	opacity: .5;
}

.loader.fade .loader-inner {
	-webkit-transition: -webkit-transform .3s ease-out;
	-o-transition: -o-transform .3s ease-out;
	transition: transform .3s ease-out;
	-webkit-transform: translate(0, -25%);
	-ms-transform: translate(0, -25%);
	-o-transform: translate(0, -25%);
	transform: translate(0, -25%);
}

.loader-inner {
	position: relative;
	left: 50%;
	top: 50%;
	margin-top: -40px;
	margin-left: -40px;
}

@-webkit-keyframes ball-spin-fade-loader {
	50% {
		opacity: 0.3;
		-webkit-transform: scale(0.4);
		transform: scale(0.4);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes ball-spin-fade-loader {
	50% {
		opacity: 0.3;
		-webkit-transform: scale(0.4);
		transform: scale(0.4);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

.ball-spin-fade-loader {
	position: relative;
}

.ball-spin-fade-loader> div:nth-child(1) {
	top: 25px;
	left: 0;
	-webkit-animation: ball-spin-fade-loader 1s 0s infinite linear;
	animation: ball-spin-fade-loader 1s 0s infinite linear;
}

.ball-spin-fade-loader> div:nth-child(2) {
	top: 17.04545px;
	left: 17.04545px;
	-webkit-animation: ball-spin-fade-loader 1s 0.12s infinite linear;
	animation: ball-spin-fade-loader 1s 0.12s infinite linear;
}

.ball-spin-fade-loader> div:nth-child(3) {
	top: 0;
	left: 25px;
	-webkit-animation: ball-spin-fade-loader 1s 0.24s infinite linear;
	animation: ball-spin-fade-loader 1s 0.24s infinite linear;
}

.ball-spin-fade-loader> div:nth-child(4) {
	top: -17.04545px;
	left: 17.04545px;
	-webkit-animation: ball-spin-fade-loader 1s 0.36s infinite linear;
	animation: ball-spin-fade-loader 1s 0.36s infinite linear;
}

.ball-spin-fade-loader> div:nth-child(5) {
	top: -25px;
	left: 0;
	-webkit-animation: ball-spin-fade-loader 1s 0.48s infinite linear;
	animation: ball-spin-fade-loader 1s 0.48s infinite linear;
}

.ball-spin-fade-loader> div:nth-child(6) {
	top: -17.04545px;
	left: -17.04545px;
	-webkit-animation: ball-spin-fade-loader 1s 0.6s infinite linear;
	animation: ball-spin-fade-loader 1s 0.6s infinite linear;
}

.ball-spin-fade-loader> div:nth-child(7) {
	top: 0;
	left: -25px;
	-webkit-animation: ball-spin-fade-loader 1s 0.72s infinite linear;
	animation: ball-spin-fade-loader 1s 0.72s infinite linear;
}

.ball-spin-fade-loader> div:nth-child(8) {
	top: 17.04545px;
	left: -17.04545px;
	-webkit-animation: ball-spin-fade-loader 1s 0.84s infinite linear;
	animation: ball-spin-fade-loader 1s 0.84s infinite linear;
}

.ball-spin-fade-loader> div {
	background-color: #fff;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	margin: 2px;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	position: absolute;
}

@media (min-width: 1440px) and (max-width: 1680px) {
	.box-count-three {
		padding: 10px;
	}
	.box-count-three img {
		margin-right: 10px;
	}
	.box-count-three>div:nth-child(2) {
		margin-top: 10px;
	}
	.box-count-three>div:last-child {
		margin-top: 0px;
		font-size: 16px;
	}
}

@media (min-width: 1281px) and (max-width: 1439px) {
	.box-count-three {
		padding: 10px 5px;
	}
	.box-count-three img {
		margin-right: 10px;
	}
	.box-count-three>div:nth-child(2) {
		margin-top: 10px;
	}
	.box-count-three>div:last-child {
		margin-top: 5px;
		font-size: 14px;
	}
}

@media (min-width: 1175px) and (max-width: 1280px) {
	.box-count-three {
		padding: 10px 5px;
	}
	.box-count-three img {
		width: 45px;
		margin-top: 15px;
		margin-right: 10px;
	}
	.box-count-three>div:nth-child(2) {
		margin-top: 10px;
	}
	.box-count-three>div:last-child {
		margin-top: 5px;
		font-size: 14px;
	}
}

@media (min-width: 1143px) and (max-width: 1174px) {
	.box-count-three {
		padding: 10px 5px;
	}
	.box-count-three img {
		width: 45px;
		margin-top: 15px;
		margin-right: 5px;
	}
	.box-count-three>div:nth-child(2) {
		margin-top: 5px;
	}
	.box-count-three>div:last-child {
		margin-top: 5px;
		font-size: 14px;
	}
}

@media (min-width: 992px) and (max-width: 1142px) {
	.box-count-three {
		padding: 10px 2px;
	}
	.box-count-three img {
		width: 36px;
		margin-top: 25px;
		margin-right: 3px;
	}
	.box-count-three>div:nth-child(2) {
		margin-top: 10px;
		font-size: 10px;
	}
	.box-count-three>div:last-child {
		margin-top: 5px;
		font-size: 14px;
	}
}

@media (min-width: 992px) {
	.col-mw {
		width: 11%;
		min-width: 100px;
		position: relative;
		min-height: 1px;
		padding-left: 12px;
		padding-right: 12px;
		margin-bottom: 0px;
		float: left;
	}
	.col-mw-thirty-six {
		width: 33%;
		position: relative;
		min-height: 1px;
		padding-left: 12px;
		padding-right: 12px;
		float: left;
	}
}

@media (min-width: 1361px) and (max-width: 1550px) {
	.loan-count {
		padding: 15px 5px;
	}
	.loan-count>div:nth-child(odd) {
		font-size: 13px;
	}
	.loan-count> div:nth-child(2n) {
		font-size: 16px;
	}
	.box-count-two {
		padding: 30px 10px;
	}
	.box-count-two img {
		width: 60px;
		margin-top: 16px;
		margin-right: 15px;
	}
	.box-count-two div:nth-child(odd) {
		font-size: 18px;
		text-align: center;
	}
	.box-count-two div:nth-child(even) {
		font-size: 14px;
		margin-top: 10px;
	}
}

@media (min-width: 992px) and (max-width: 1360px) {
	.loan-amount,
	.credit-note {
		padding: 15px;
	}
	.loan-count {
		padding: 5px;
	}
	.box-count-two {
		padding: 30px 10px;
	}
	.box-count-two img {
		width: 50px;
		margin-top: 16px;
	}
	.box-count-two div:nth-child(odd) {
		font-size: 18px;
		text-align: center;
	}
	.box-count-two div:nth-child(even) {
		font-size: 14px;
	}
}

@media (max-width: 992px) {
	.middle {
		text-align: center;
	}
	.col-mw {
		margin-bottom: 10px;
	}
}