	#formTable td{
		width : 250px;
	}
	#u3951_div {
	    background-color: rgba(255, 255, 255, 1);
	    border-color: rgba(204, 204, 204, 1);
	    border-radius: 0;
	    border-style: solid;
	    border-width: 1px;
	    box-shadow: none;
	    box-sizing: border-box;
	    margin:0 auto;
	    height: 195px;
	    padding-left:50px;
	    padding-right:50px;
	    padding-top:10px;
	    padding-bottom:15x;
	}
	.tdFont {
	  width:72px;
	  white-space:nowrap;
	  text-align:right;
	   padding-right:15px;
	}
	#u3952,#u3953,#u3954,#u3956,#u3957,#u3958 {
	  width:162px;
	  height:25px;
	}
	#province,#city,#area,#industries,#enterprisename,#corporate,#approve,#phonenumber {
	  width:162px;
	  height:25px;
	  font-family:'微软雅黑';
	  font-weight:400;
	  font-style:normal;
	  font-size:13px;
	  text-decoration:none;
	  color:#000000;
	}
	#u3955 {
	  width:160px;
	  height:25px;
	}
	#starttime ,#endtime {
	  width:160px;
	  height:25px;
	  font-family:'微软雅黑';
	  font-weight:400;
	  font-style:normal;
	  font-size:13px;
	  text-decoration:none;
	  color:#000000;
	  text-align:left;
	}
	.buttonStyle {
	  width:112px;
	  height:30px;
	  background:inherit;
	  background-color:rgba(174, 133, 53, 1);
	  border:none;
	  border-radius:6.20000076293945px;
	  -moz-box-shadow:none;
	  -webkit-box-shadow:none;
	  box-shadow:none;
	  color:#FFFFFF;
	}
	#u3959 {
	  width:112px;
	  color:#FFFFFF;
	}
	#btnReset,#btnSearch {
	  background-color:transparent;
	  border:none;
	  margin-top:6px;
	  width:108px;
	  word-wrap:break-word;
	}
	#detailslist_e {
	  margin:50px auto;
	}
	#title td {
	  height:42px;
	  font-family:'微软雅黑';
	  font-weight:400;
	  font-style:normal;
	  color:#FFFFFF;
	  text-align:center;
	  background-color:rgba(174, 133, 53, 1);
	  border-width:1px;
	  border-style:solid;
	  border-color:rgba(204, 204, 204, 1);
	  border-radius:0px;
	  white-space: nowrap;
	}
	.tabletext {
	  word-wrap:break-word;
	} 
	 #table tbody .border1,#table tfoot .border1{
	    font-family: "微软雅黑";
	    font-style: normal;
	    font-weight: 400;
	    height: 30px;
	    text-align: center;
	    top: 42px;
	    width: 37px;
		border-width:1px;
	    border-style:solid;
		border-color:rgba(204, 204, 204, 1);
		border-radius:0px;
		white-space: nowrap;
	}