<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd ">

	<!-- 每天凌晨2点执行 <property name="cronExpression" value="0 0 2 * * ?"/> -->
	<!-- 测试每10秒执行一次 <property name="cronExpression" value="0/10 * * * * ?"/> -->
	<bean id="clearLog" class="com.dcits.govsbu.sd.taxbankplatform.batch.clearlog.ClearLog" lazy-init="false">
		<property name="cronExpression" value="0 0 2 * * ?"/>
		<property name="shutdownTimeout" value="20" />
	</bean>

</beans>    