.page-header .headerTop .col-md-4{
	text-align:center;
}
.page-header .headerTop{
	height:40px;
	line-height:40px;
	font-size:14px;
	color:#000;
	background:url("../../../images/bg_addpf.png") no-repeat center center;
	border:none;
}