<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dcits.govsbu.sd.taxbankplatform.productdataitemvalues.mapper.ProductdataitemvaluesMapper">
  <resultMap id="ValueMap" type="com.dcits.govsbu.sd.taxbankplatform.productdataitemvalues.model.Productdataitemvalues">
    <id column="pdiv_id"  property="id" />
    <result column="pdiv_name" property="pdivName" />
    <result column="pdiv_seq"  property="pdivSeq" />
    <result column="creatorid"  property="creatorId" />
    <result column="createtime"  property="createtime" />
    <result column="updatorid"  property="updateId" />
    <result column="updatetime"  property="updatetime" />
    <association property="productdataitems" column="id" javaType="com.dcits.govsbu.sd.taxbankplatform.productdataitemvalues.model.Productdataitems">
         <id property="id" column="pdi_id"/>
         <result column="pdi_name" property="pdiName" />
         <result column="pdi_code" property="pdiCode" />
         <result column="ht_id" property="htmlTag.id"  />
         <result column="enabled" property="enabled"  />
         <result column="pc_id" property="pcId" />
         <result column="org_id" property="orgId"  />
         <result column="creatorid" property="creatorId"/>
         <result column="createtime" property="createtime" />
         <result column="updatorid" property="updateId" />
         <result column="updatetime" property="updatetime"  />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    pdiv_id, pdi_id, pdiv_name, pdiv_seq, creatorid, createtime, updatorid, updatetime
  </sql>
  
   <!-- 根据PdiID查询数据项值 -->
  <select id="selectPdivByPdiId" parameterType="map" resultMap="ValueMap" flushCache="true" useCache="true" >
	select pdiv.pdiv_id ,pdiv.pdiv_name ,pdiv.pdiv_seq
	from tb_product_data_items pdi   
	join tb_product_data_item_values pdiv 
	on pdi.pdi_id=#{pdiId} and pdiv.pdi_id=pdi.pdi_id
	<where>
	<if test="pdivName!=null">
	pdiv.pdiv_name="#{pdivName}"  
	</if>
	
	</where>
  </select>
  <!--根据PdiID查询数据项序号-->
   <select id="selectPdivSeqByPdiId" parameterType="map" resultMap="ValueMap" flushCache="true" useCache="true" >
     select pdiv.pdiv_id ,pdiv.pdiv_name ,pdiv.pdiv_seq,pdi.pdi_id from tb_product_data_item_values pdiv  , 
     tb_product_data_items pdi   where 
     pdiv.pdi_id=#{pdiId} and pdiv.pdi_id=pdi.pdi_id  order by pdiv.pdiv_seq desc
  </select>
  <select id="selectByPrimaryKey" parameterType="long" resultMap="ValueMap">
    select 
    <include refid="Base_Column_List" />
    from tb_product_data_item_values
    where pdiv_id = #{pdivId}
  </select>
  
  <select id="searchPdivNameList" parameterType="String" resultMap="ValueMap" flushCache="true" useCache="true">
    select 
    pdiv_id,pdiv_name
    from tb_product_data_item_values
    where pdi_id = #{id}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from tb_product_data_item_values
    where pdiv_id = #{pdivId}
  </delete>
  <insert id="insertValues" parameterType="com.dcits.govsbu.sd.taxbankplatform.productdataitemvalues.model.Productdataitemvalues">
    insert into tb_product_data_item_values (pdiv_id, pdiv_name, 
      pdiv_seq, creatorid, createtime, 
      updatorid, updatetime)
    values 
    <foreach collection="pdivName" item="pdivName" open="" close="" separator="," >
    (#{id},#{pdivName,jdbcType=VARCHAR}, 
      #{pdivSeq}, #{creatorId}, #{createtime,jdbcType=DATE}, 
      #{updateId}, #{updatetime,jdbcType=DATE})
      </foreach>
  </insert>

  <insert id="insertItems" parameterType="com.dcits.govsbu.sd.taxbankplatform.productdataitemvalues.model.Productdataitemvalues">
     insert into tb_product_data_items (pdi_id,pdi_name, pdi_code, 
      ht_id, enabled, pc_id, 
      org_id, creatorid, createtime, 
      updatorid, updatetime)
    values ( #{productdataitems.id},#{productdataitems.pdiName}, #{productdataitems.pdiCode}, 
      #{productdataitems.htId}, #{productdataitems.enabled}, #{productdataitems.pcId}, 
      #{productdataitems.orgId}, #{productdataitems.creatorId}, #{productdataitems.createtime}, 
      #{productdataitems.updateId}, #{productdataitems.updatetime})
  </insert>
  <insert id="insertSelective" parameterType="com.dcits.govsbu.sd.taxbankplatform.productdataitemvalues.model.Productdataitemvalues">
    insert into tb_product_data_item_values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pdivId != null">
        pdiv_id,
      </if>
      <if test="id != null">
        pdi_id,
      </if>
      <if test="pdivName != null">
        pdiv_name,
      </if>
      <if test="pdivSeq != null">
        pdiv_seq,
      </if>
      <if test="creatorId != null">
        creatorid,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="updateId != null">
        updatorid,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pdivId != null">
        #{pdivId},
      </if>
      <if test="id != null">
        #{id},
      </if>
      <if test="pdivName != null">
        #{pdivName,jdbcType=VARCHAR},
      </if>
      <if test="pdivSeq != null">
        #{pdivSeq},
      </if>
      <if test="creatorId != null">
        #{creatorId},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=DATE},
      </if>
      <if test="updateId != null">
        #{updateId},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dcits.govsbu.sd.taxbankplatform.productdataitemvalues.model.Productdataitemvalues">
    update tb_product_data_item_values
    <set>
      <if test="id != null">
        pdi_id = #{id},
      </if>
      <if test="pdivName != null">
        pdiv_name = #{pdivName,jdbcType=VARCHAR},
      </if>
      <if test="pdivSeq != null">
        pdiv_seq = #{pdivSeq},
      </if>
      <if test="creatorId != null">
        creatorid = #{creatorId},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=DATE},
      </if>
      <if test="updateId != null">
        updatorid = #{updateId},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=DATE},
      </if>
    </set>
    where pdiv_id = #{pdivId}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dcits.govsbu.sd.taxbankplatform.productdataitemvalues.model.Productdataitemvalues">
    update tb_product_data_item_values
    set pdi_id = #{id},
      pdiv_name = #{pdivName,jdbcType=VARCHAR},
      pdiv_seq = #{pdivSeq},
      creatorid = #{creatorId},
      createtime = #{createtime,jdbcType=DATE},
      updatorid = #{updateId},
      updatetime = #{updatetime,jdbcType=DATE}
    where pdiv_id = #{pdivId}
  </update>
  <!-- select pdiv.pdiv_id ,pdiv.pdiv_name ,pdiv.pdiv_seq,pdi.pdi_id from tb_product_data_item_values pdiv  , 
 tb_product_data_items pdi   where 
  pdiv.pdi_id=1 and pdiv.pdiv_id=pdi.pdi_id group by pdi.pdi_id desc -->

</mapper>